DB_USER=postgres
DB_PASS=
DB_NAME=fastapi_flowasset_api
DB_HOST=localhost
DB_PORT=5432
TEST_DB_NAME=fastapi_flowasset_api_test
SQLALCHEMY_DATABASE_URL=postgresql://postgres:@localhost:5432/fastapi_flowasset_api

# JWT
SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# App
APP_NAME=FlowAsset API
DEBUG=True
